<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wangyu1981.dao.TbAdminDao">

    <select id="select" resultType="wangyu1981.model.TbAdmin">
		SELECT
            rowid id, user_name userName, create_time createTime
		FROM
		    tb_admin
	</select>

    <insert id="insert" parameterType="wangyu1981.model.TbAdmin">
		insert into tb_admin
		    (rowid, user_name, create_time)
		values
		    (#{id}, #{userName}, #{createTime});
	</insert>

    <update id="update" parameterType="wangyu1981.model.TbAdmin">
        update tb_admin set user_name=#{userName} where rowid=#{id}
    </update>


</mapper>